.events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.events > div {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 10px;
    cursor: pointer;
}

.events > div > div {
    width: 400px;
    height: 300px;    
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    visibility: hidden;
    background-color: #5f98f3;
    color: white;
    font-family: 'Roboto';
    transition: visibility .1s ease-out;     
}

.events > div .title {
    font-size: 24px;
}

.events > div .details {
    margin-top: 60px;
}

.events > div > img {
    width: 400px;
    height: 300px;
    display: block;
    transition: opacity 1.5s ease-out;     
}

.events > div:hover > div {
    visibility: visible;
}

.events > div:hover > div {
    visibility: visible;
}

.events > div:hover > img {
    opacity: .4;
}

@media (max-width: 420px) {
    .events > div {
        width: 310px;
        height: 250px;
    }

    .events > div > div {
        width: 310px;
        height: 250px;        
    }
    
    .events > div > img {
        width: 310px;
        height: 250px;        
    }
}